
    {% extends "model-page.html" %}

    {% block content %}


    <div class="box m-4">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
              <thead>
                <tr>
                    <th class="center-text">Excluir</th>
                    <th class="center-text">Editar</th>
                    <th>Titulo</th>
                    <th>Data do Evento</th>
                </tr>
              </thead>
              <tbody>
              {% for evento in eventos %}
              <tr>
                  <th class="center-text"><a href="evento/delete/{{ evento.id }}/"><i class="fas fa-trash-alt has-text-black"></i></a></th>
                  <th class="center-text"><a href="evento/?id={{evento.id}}"><i class="fas fa-edit has-text-black"></i></a></th>

                    <th><span>{{evento.titulo}}</span></th>
                    <th><span>{{evento.get_data_event}}</span></th>

                </tr>
              {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4">
                      <div class="buttons">
                        <a href="evento/">
                            <button class="button is-primary is-light" type="button">Novo Evento</button>
                        </a>
                      </div>
                  </th>
                </tr>
              </tfoot>
        </table>

    </div>
    {% endblock %}