{% extends "model-page.html" %}

{% block content %}
<form action="submit" method="post">
    {% csrf_token %}
    <div class="box m-4">
        <div class="is-flex is-justify-content-center">

                <div class="field">
                    <p class="control has-icons-left m-2">
                        <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
                        <label>Título:</label>
                        <input class="input is-link" type="text" name="titulo" size="23" value="{{ evento.titulo }}">
                    </p>
                </div>

                <div class="field">
                    <p class="control has-icons-left m-2">
                        <label>Data do Evento:</label>
                        <input class="input is-link" type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
                    </p>
                </div>
            </div>
                <div class="field">
                    <div class="column is-narrow">
                        <label>Descrição:</label>
                        <textarea class="textarea" name="descricao" rows="5" cols="24">{{ evento.descricao }}</textarea>
                    </div>
                </div>
                <div class="field">
                    <p class="control has-icons-left m-2">
                        <label>Local:</label>
                        <input class="input is-link" type="text" name="local"
                               value="{% if evento.local != None %} {{evento.local}} {% endif %}">
                    </p>
                </div>

                <div class="columns is-mobile is-centered m-2">
                    <button class="button is-primary m-2" type="submit">Salvar</button>
                    <a href="/" class="button is-info m-2">Cancelar</a>
                </div>
        </div>
</form>
{% endblock %}